<div class="card-component {{if this.isWon "winner"}}">
  <div class="card-component_param1">Name: {{this.people.name}}</div>
  <div class="card_component_param2">Gender: {{this.people.gender}}</div>
  <div class="card-component_param3">Mass: {{this.people.mass}}</div>
</div>
