<div class="card-component">
  <div class="card-component_param1">Name: {{this.ship.name}}</div>
  <div class="card_component_param2">Class: {{this.ship.starship_class}}</div>
  <div class="card-component_param3">Crew: {{this.ship.crew}}</div>
</div>