.application {
  text-align: center;
}

.battle {
  display: inline-block;
}

.button {
  background-color: #2b81af;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  text-decoration: none;
}

.button:hover {
  color: #c2ccd1;
  text-decoration: none;
}

.buttons-group {
  display: inline-flex;
}

.card {
  min-width: 15rem;
  max-width: 15rem;
  margin: 5px 10px;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
}

.badge {
  margin-bottom: 20px;
}

.hide-content {
  display: none;
}

.winner {
  background-color: rgba(46, 204, 64, 0.2);
}

.wins-wrapper {
  display: flex;
  justify-content: space-around;
}
