<div class="application">
  <div class="battle">
    {{outlet}}
  </div>
  <hr>
  <div>
    <div>Please select game type:</div>
    <div class="buttons-group">
      {{#link-to "people" class="button"}}
        People
      {{/link-to}}
      {{#link-to "starships" class="button"}}
        Star ships
      {{/link-to}}
    </div>
  </div>
</div>
