<div class="application">
    <ReplayButton />
    <div class="battle">
      {{outlet}}
    </div>
    <hr>
  <div>
    {{#if this.isLoading}}
      <div>Loading data...</div>
    {{else}}
      <div>
        <div>Please select game type:</div>
        <div class="buttons-group">
          {{#link-to "people" class="button js-button-people"}}
            People
          {{/link-to}}
          {{#link-to "starships" class="button js-button-starships"}}
            Star ships
          {{/link-to}}
        </div>
      </div>
    {{/if}}
  </div>
</div>
