<div>
  <div class="wins-wrapper">
    {{#each this.model.wins as |item|}}
      <span>Team wins: {{item}}</span>
    {{/each}}
  </div>
  <div class="cards-wrapper">
    {{#each this.model.data as |item|}}
      <PeopleCard @people={{item}} />
    {{/each}}
  </div>
</div>